<div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">

        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <img src="assets/images/users/user-1.jpg" alt="user-image" class="rounded-circle">
                <span class="pro-user-name ml-1">
                    Nowak <i class="mdi mdi-chevron-down"></i> 
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">                            

                <a href="../profile" class="dropdown-item notify-item">
                    <i class="fas fa-user"></i>
                    <span>Profile</span>
                </a>

                <a href="../change-password" class="dropdown-item notify-item">
                    <i class="fas fa-key"></i>
                    <span>Change Password</span>
                </a>

                <div class="dropdown-divider"></div>

                <a href="logout" class="dropdown-item notify-item">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </div>
        </li>
    </ul>

    <div class="logo-box">
        <a href="../index" class="logo logo-dark text-center">
            <span class="logo-lg">
                <img src="assets/images/logo-dark.png" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="assets/images/logo-sm.png" alt="" height="24">
            </span>
        </a>
        <a href="../index" class="logo logo-light text-center">
            <span class="logo-lg">
                <img src="assets/images/logo-light.png" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="assets/images/logo-sm.png" alt="" height="24">
            </span>
        </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
        <li>
            <button class="button-menu-mobile disable-btn waves-effect">
                <i class="fe-menu"></i>
            </button>
        </li>

        <li>
            <h4 class="page-title-main"></h4>
        </li>

    </ul>

</div>

<div class="left-side-menu">
    <div class="">
        <div class="user-box text-center">
            <img src="assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-thumbnail avatar-md">
            <div class="dropdown">
                <a href="#" class="user-name dropdown-toggle h5 mt-2 mb-1 d-block" data-toggle="dropdown"  aria-expanded="false">Nowak Helme</a>
                <div class="dropdown-menu user-pro-dropdown">

                    <a href="../profile" class="dropdown-item notify-item">
                        <i class="fas fa-user mr-1"></i>
                        <span>Profile</span>
                    </a>

                    <a href="../change-password" class="dropdown-item notify-item">
                        <i class="fas fa-key mr-1"></i>
                        <span>Change Password</span>
                    </a>

                    <a href="logout" class="dropdown-item notify-item">
                        <i class="fas fa-sign-out-alt mr-1"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </div>
            <p class="text-muted">Admin Head</p>
        </div>

        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li>
                    <a href="../index">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Dashboard </span>
                    </a>
                </li>

                <li>
                    <a href="../category">
                        <i class="fa fa-list-alt"></i>
                        <span> Category </span>
                    </a>
                </li>

                <li>
                    <a href="../portfolio">
                        <i class="mdi mdi-forum"></i>
                        <span> Add Portfolio </span>
                    </a>
                </li>

                <li>
                    <a href="../testnomial">
                        <i class="mdi mdi-calendar"></i>
                        <span> Add Testonomial </span>
                    </a>
                </li>
                <li>
                    <a href="../enquiry">
                        <i class="mdi mdi-calendar"></i>
                        <span> Enquiry </span>
                    </a>
                </li>

            </ul>

        </div>

        <div class="clearfix"></div>

    </div>

</div>